{% extends 'accounts/accounts-layout.html' %}
{% block title %}Account{% endblock %}
{% block heading %}Sign Up{% endblock %}
{% block main %}
<form method="POST" action="{% url 'accounts:signup' %}" class="form">
  {% csrf_token %}
  {% for field in form %}
      <div>
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
              <div class="error">{{ field.errors }}</div>
          {% endif %}
      </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary transition">Sign Up</button>
</form>
<p>Already have an account? <a href="{% url 'accounts:login' %}" class="link">Log in here.</a></p>
{% endblock %}
